<div class="contacto">
	<div class="saludo"></div>
	<div class="section group">
		<div class="col span_1_of_2 info">
			<ul>
				<li><i class="fa fa-user"></i> José Luis Gutiérrez</li>
				<li><i class="fa fa-phone"></i> +57 3184560003</li>
				<li><i class="fa fa-envelope-o"></i> jose.gutierrez@multinovo.com</li>
				<li><i class="fa fa-map-marker"></i> Bogotá - Cali - Colombia</li>
			</ul>
		</div>
		<div class="col span_1_of_2 formulario">
			<form id="form">
				<p id="returnmessage"></p>
				<div>
					<input id="m_name" type="text" class="form-control" placeholder="Nombre">
				</div>
				<div>
					<input id="m_mail" type="text" class="form-control" placeholder="Correo Electrónico">
				</div>
				<div>
					<input id="m_subject" type="text" class="form-control" placeholder="Asunto">
				</div>
				<div>
					<textarea id="m_message" class="form-control" rows="6" placeholder="Mensaje..."></textarea>
				</div>
				<div>
					<!--<input id="submit" type="button" value="ENVIAR MENSAJE" class="templatemo-slider-btn btn btn-default">-->
					<a href="#" class="btn btn-sm animated-button gibson-four"> ENVIAR MENSAJE</a>
				</div>
				<p id="returnmessage"></p>
			</form>
		</div>
	</div>
</div>
