<div class="perfil">
	<div class="saludo">
		<h1> Hola, </h1>
		<br>
	</div>
	<div class="presentacion">
		<p>Mi nombre es José Luis Gutiérrez Erazo, soy <strong>ingeniero multimedia</strong> graduado en la universidad de san buenaventura cali.</p>
		<br>
		<p>Mi especialidad es el <strong>desarrollo web front-end</strong> basado en principios de experiencia de usuario y diseño responsivo.</p>
		<br> Soy amante de la tecnología y considero que con el uso adecuado de la misma se puede mejorar la calidad de vida de cualquier persona. 
	</div>

</div>
