<div id="recent_jobs">
	<div class="section group">
		<div class="col span_1_of_2">
			<div class="image_thumb">
				<img src="images/client_3.png" class="img-responsive" alt="publicargo">
				<div class="image_overlay">
					<a href="http://www.publicargo.com" target="_blank"><i class="fa fa-arrow-right">Visitar</i></a>
				</div>
			</div>
		</div>
		<div class="col span_1_of_2">

			<div class="image_thumb">
				<img src="images/client_2.png" class="img-responsive" alt="work">
				<div class="image_overlay">
					<a href="http://www.prismagvision.com.co" target="_blank"><i class="fa fa-arrow-right">Visitar</i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="section group">
		<div class="col span_1_of_2">
			<div class="image_thumb">
				<img src="images/client_1.png" class="img-responsive" alt="work">
				<div class="image_overlay">
					<a href="http://www.interlacelogistics.com" target="_blank"><i class="fa fa-arrow-right">Visitar</i></a>
				</div>
			</div>
		</div>

		<div class="col span_1_of_2">
			<div class="image_thumb">
				<img src="images/client_4.png" class="img-responsive" alt="work">
				<div class="image_overlay">
					<a href="http://www.ergraphical.com" target="_blank"><i class="fa fa-arrow-right">Visitar</i></a>
				</div>
			</div>
		</div>
	</div>
</div>
